---
title: 『医療 x ◯◯』 社内アイデアソンを実施しました！
description: エムスリーで「医療・ヘルスケア」をテーマに、アイデアソンを実施しました。アイデアソンでの社内交流や新規事業アイデア出しを通じて、ハッカーやプランナーにとってよりよいカルチャーを作っています！
---

%meta{:content => '『医療 x ◯◯』 社内アイデアソンを実施しました！', :property => 'og:title'}/
%meta{:content => 'article', :property => 'og:type'}/
%meta{:content => 'エムスリー(M3)では「医療・ヘルスケア」をテーマに、アイデアソンを実施しました。アイデアソンでの社内交流や新規事業アイデア出しを通じて、ハッカーやプランナーにとってよりよいカルチャーを作っています！', :property => 'og:description'}/
%meta{:content => 'http://m3dev.github.io/events/ideathon/201504.html', :property => 'og:url'}/
%meta{:content => 'http://m3dev.github.io/images/events/ideathon/group.jpg', :property => 'og:image'}/
%meta{:content => 'Tech side of M3', :property => 'og:site_name'}/
%link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/events/ideathon/201504.css', media: 'all' }
.container.events-ideathon-201504
  .row
    .col-md-10
      %h1 『医療 x ◯◯』 社内アイデアソンを実施しました！

      %p
        2015年4月13日にエムスリーで「医療・ヘルスケア」をテーマに
        アイデアソン(決められたテーマのアイデアを話し合うイベント)を実施しました。
      %p
        このアイデアソン実施の目的は次の3つです。

        %ul
          %li
            %span.text-strong 交流：
            普段の仕事ではあまり関わらない他部署の人との交流。社内34名、外部3名(医師の方1名、医療系IT企業の方2名)に参加して頂きました
          %li
            %span.text-strong アイデア出しのスキルアップ・自己研鑽：
            普段使わない部分のアイデア出しのノウハウを学んだり、他のメンバーから刺激を受ける
          %li
            %span.text-strong 新規事業のアイデア出し：
            エムスリーで事業化できそうなアイデアを普段とは違う視点で考える

      .row
        .schedule
          %h2 タイムスケジュール

          %p
            アイデアソンは、2時間の中で「個人のアイデア出し⇒チームでまとめ」の作業を繰りを行うのスタイルでした。
            %br/
            .row
              .col-md-10
                %img{src: '/images/events/ideathon/ideathon_flow.png'}
            %br/
            具体的には、次ような流れでアイデアソンを実施しました。

      .row.step-container
        %table.table.table-striped
          %thead
            %tr
              %td.step-column ＳＴＥＰ０
              %td
                .row.text-strong
                  自己紹介（チーム内　各自）
                .row.description
                  まずはアイスブレイクで、チーム内で自己紹介。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step0/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ１
              %td
                .row.text-strong
                  デバイス・ペルソナ・シーン決定
                .row.description
                  チームで今回のアイデアソンで、誰の(ペルソナ)、どのようなシーンに必要なものを考えるかを決めます。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step1/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ２
              %td
                .row.text-strong
                  アイデア出し（個人）
                .row.description
                  アイデアを一人２つ、附箋に書きだします。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step2/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ３
              %td
                .row.text-strong
                  アイデア発表（全員 => チームに）
                .row.description
                  一人ひとりが書きだしたアイデアをグループ内で発表します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step3/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ４
              %td
                .row.text-strong
                  再度アイデア出し（個人）
                .row.description
                  チームメンバーのアイデアをヒアリングして、ブラッシュアップしたアイデアを附箋に書きだします。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step4/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ５
              %td
                .row.text-strong
                  効果・開発難易度を考慮しつつアイデア発表（全員）
                .row.description
                  書き出したアイデアを書いた附箋を、価値と技術の難易度を考慮しつつ、効果(価値)と開発難易度(実現可能性)の2軸で評価します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step5/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ６
              %td
                .row.text-strong
                  チーム内投票（全員）
                .row.description
                  １人２票で、いいと思うアイデア(付箋)に投票して、チームで発表するアイデアを決めます。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step6/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ７
              %td
                .row.text-strong
                  発表準備（全員）
                .row.description
                  発表するための資料を作成します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step7/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ８
              %td
                .row.text-strong
                  発表
                .row.description
                  チームごとに、作成したアイデアを他のメンバーに発表します。
                .row.photos
                  - 1.upto(3).each do |i|
                    .col-md-4
                      %img{src: "/images/events/ideathon/step8/#{i}.jpg"}
            %tr
              %td.step-column ＳＴＥＰ９
              %td
                .row.text-strong
                  全体投票（全員）
                .row.description
                  全員で、一番よいと思うアイデアを全員の投票で選びました。今回特に面白かったアイデアを2つほどピックアップして紹介します！
                  %br/
                  %ul.idea-introduction
                    %li
                      %span.text-strong おじいちゃんありがとう：
                      高齢者の運動不足解消を目的としたアイデア。
                      おじいちゃん、おばあちゃんに腕時計のガジェットをつけてもらい、家族と音声でコミュニケーションしながら、
                      おじいちゃん、おばあちゃんに簡単な運動をすることをサポートします。今回のアイデアソンの最優秀賞でした。
                    %li
                      %span.text-strong デンタ君(仮)：
                      カメラ付きの歯ブラシをつかったお口の中の健康管理のアイデア。
                      カメラ付きの歯ブラシとスマートフォンが連携して、歯磨き中の画像をクラウドに送信します。
                      クラウドに送られた画像を自動判定して、歯や歯ぐきなどの健康状態を判定。歯磨きの指導や、
                      虫歯の早期発見を支援してくれるツールです。

      .row.enquete-container
        %h2 参加者からのコメント

        %p
          %h3.point-title 実施後アンケート結果
          %ul
            %li
              %p.text-strong 他の参加者のアイデアの出し方や発想方法が参考になりましたか？
              %p 96％の方が「非常に参考になった」「参考になった」と回答
            %li
              %p.text-strong アイデアの出し方を学ぶことができ、発散の場となりましたか？
              %p 83％の方が「強くそう感じる」「そう感じる」と回答

        %p
          %h3.point-title 良かった点
          %ul
            %li 色々な部署の方や外部の方とも交流でき、様々な考え方に触れ、とても楽しく有意義なWSでした。
            %li リードしてくれた方々がおられたからですが、2時間である程度の形になるものなのだというのが発見でした。
          %h3.point-title 次回改善したい点
          %ul
            %li 面白かったがやはりもう少しアイデアを深めるプロセスが必要と思う => 次回はアイデアの深堀りを目指します。

      .row.schedule
        %h2 運営チームの感想

        %p
          開催後に参加者からアンケートからも、メンバー間のコミュニケーションや、お互いのアイデアを通じて刺激を与え合う事ができたと思います。
          %br/
          これからも積極的にアイデアソンやハッカソンを開催して、ハッカーやプランナーにとってよりよいカルチャーを作っていきたいです！

      .row
        .col-md-8
          %img{src: '/images/events/ideathon/group.jpg'}

      .row
        %h2 M3で開催するアイデアソンやハッカソンに参加しませんか？

        %p
          今後、M3で開催予定のアイデアソンやハッカソンに興味を持って頂けるようであれば、
          %a{href: 'http://goo.gl/forms/l2y0UrpycP', target: '_blank'}
            %strong こちら
          からご登録下さい。
          %br/
          アイデアソンやハッカソンなどのワークショップ
          の開催時にはこちらからご連絡致します。

      .row
        %h2 We're hiring!

        %p
          %strong
            M3ではアイデアソンが大好きなプランナーやハッカーを積極的に募集しています。
            %br/
            書類選考の前にエムスリーのことを知っていただくためにカジュアルな面談も可能です。
            %br/
            現在募集中の職種は
            %a{href: 'http://at.m3.com/job', target: '_blank'} こちら
            です。