%h3
  エムスリーエンジニアの技術的取り組みを過去のアーカイブページとして残しています。今後は
  %a{:href => 'https://www.m3tech.blog/'} テックブログ
  を更新していきますので
  %a{:href => 'https://www.m3tech.blog/'} こちら
  をご覧ください。

%h4
  %i.glyphicon.glyphicon-star
  どんな会社？

%p
  M3のカルチャーを紹介したスライドです！

%div{ class: 'slides-speakerdeck' }
  %script.speakerdeck-embed{ async: '', src: '//speakerdeck.com/assets/embed.js', 'data-id' => 'db03c5db73184edc9aab078320f4a22f', 'data-ratio' => '1.44428772919605' }

%p
  現在募集中の職種は
  %a{:href => 'http://corporate.m3.com/recruit/job/engineering/', :target => '_new'} こちら
  を御覧ください。応募フォームからお気軽にお問い合わせください。

%h4
  %i.glyphicon.glyphicon-volume-up
  M3 Tech Talk

%p
  エムスリーでは、隔週で社内技術発表会として「M3 Tech Talk」を開催しています。
%p
  カジュアルな形で無理なく継続していくことで、新技術へのキャッチアップの機会を生み出すことを目的としています。
%p
  直近の M3 Tech Talk の公開スライドはこちらです。
%br/

= talk_slides data.talks.first

%br/
%p
  公開可能な発表内容については極力公開することを推奨しています。これまでの発表スライド等についてはこちらでご覧いただけます。
%i.glyphicon.glyphicon-facetime-video
&nbsp;
= link_to 'M3 Tech Talk Archive', '/m3-tech-talk/archive.html'


%h4
  %i.glyphicon.glyphicon-wrench
  GitHub での活動

%p
  エムスリーの開発チームでは日々の開発の中で社内外で利用可能なライブラリやノウハウなどを積極的に公開していくことを推奨しています。
%p
  公開済みのリポジトリはこちらでご覧いただけます。

%p= link_to 'github.com/m3dev', 'https://github.com/m3dev', target: '_blank'
.github-repos

%p
%p
  プライベートでコードを公開しているメンバーも多くいます。こちらからご覧ください。

.github-members

%h4
  %i.glyphicon.glyphicon-paperclip
  Qiita Organization

%p
  Qiita Organization に登録しております。
%p
  弊社スタッフのスキルセット、雰囲気などをご覧ください。

= link_to 'qiita.com/organizations/m3dev', 'http://qiita.com/organizations/m3dev', target: '_blank'

%h4
  %i.glyphicon.glyphicon-user
  イベントページ

%p
  M3ではハッカソンやアイデアソンなどのイベントも積極的に開催しています。

%p
  .row
    .col-md-4
      = link_to '/events/ideathon/201504.html' do
        %img{src: '/images/events/ideathon/group.jpg'}
        %p.text-center 2015/04 アイデアソン

%h4
  %i.glyphicon.glyphicon-heart
  OSS との関わり

%p
  エムスリーでは、代表的なものだけでも以下のような OSS や外部サービスを利用して日々の開発を行っています。
%p
  OSS コミュニティへの還元として、コードでの貢献や会場提供、スポンサーシップなどの形で積極的に貢献していきたいと考えています。

%hr/
%p
  = tag :img, src: "/images/oss.png", border: 0

- content_for :javascripts do
  %script(src="/javascripts/index.js")
